<table>

  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post_path(post)%></td>
    </tr>
    <tr>
      <td><%= simple_format link_to post.user.username, controller: "users", action: "show", id: post.user.id %>
      </td>

    </tr>
  <% end %>

</table>
