<table>

  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post_path(post)%></td>
    </tr>
    <tr>
        <td>
          <%="submitted #{time_ago_in_words(post.created_at)} ago by "%>
        <%= link_to post.user.username, controller: "users", action: "show", id: post.user %>
        <%= simple_format "" %>
        </td>
    </tr>
  <% end %>

</table>
