<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "reddit", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "log in", login_path %></li>
        <li><%= link_to "sign up", signup_path %></li>
      </ul>
    </nav>
  </div>
</header>
